.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.rating .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

label {
  border-radius: 50%;
  background-color: var(--very-dark-blue);
}
input[type='radio'] {
  position: absolute;
  visibility: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

input[type='radio']:checked + label {
  border-radius: 50%;
  background-color: var(--orange);
}

.rating .item.selected {
  background-color: var(--orange);
}
